html,
body {
  color: #ede7d3;
  background: #0d4995 url(../../assets/img/ss-wrap-bg.png) repeat center top;
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  background: url(../../assets/img/ss-bg.png) no-repeat center top;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
  color: #fff;
  margin-top: 60px;
}
#footer {
  background-color: #032e6e;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}



/* Custom page CSS
-------------------------------------------------- */

.container {
  width: auto;
  max-width: 1000px;
}
.container .credit {
  margin: 20px 0;
}

.page-header { 
  text-align: center;
  padding-top: 20px;
}

.gplus-button { float: right;}

.ss-nav {
  margin: 0;
  list-style: none;
}

.ss-nav li {
  display: inline;
  padding: 0 10px;
  font-size: 18px;
}

.page-header a {
  color: #1cacff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
}

.page-header a:hover {
  color: #fff;
  text-decoration: none;
}

.copy {
  color: #fff;
  
}

.main-content {
  margin-top: 700px;
}

.main-content a:hover { color: #fff;}

.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
  color: #1b96dd;
}

.featurette {
  padding-top: 120px;
  overflow: hidden;
}

.how-to li, .elves li {margin-bottom: 8px;}

.gift-box {
  float:left;
  margin:10px 5px 5px 5px;
  padding:8px;
  background:#ebebeb;
  width:209px;
  color: #444;
  -moz-box-shadow: 0 0 5px #042e6e;
  -webkit-box-shadow: 0 0 5px#042e6e;
  box-shadow: 0 0 5px #042e6e;
}

.gift-box a:hover { color:#333;}

.gift-box-header {
  margin: -8px -8px 8px -8px;
  background: #257cb7;
  padding: 3px;
}

.gift-box-header a, .gift-box-header a:hover {
  color: #fff;
  font-size: 12px;
}

.profilepic {
  float:right;
}

.thoughts {
  font-size: 12px;
}

.user {
  font-weight: bold;
}

.ss {
  margin-top: 0px;
}
