/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #ede7d3;
  background: #0d4995 url(../../assets/img/ss-wrap-bg.png) repeat center top;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
nav {background: #000;width: 100%;}
.navbar-wrapper {
  position: relative;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

.navbar-inverse .navbar-inner {background: #053379;}
.navbar-inverse .navbar-inner a { color: #5bd9ff;}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color: #5bd9ff;
  background-color: transparent;
}

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
  border: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
     -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
          box-shadow: 0 2px 10px rgba(0,0,0,.25);
}

/* Downsize the brand/project name a bit */
.navbar .brand {
  padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
  margin-top: 10px;
}

.dropdown-menu li > a {color: #686868 !important;}
.dropdown-menu li > a:hover {color: #fff !important;}


.add-your-wishlist {margin: 5px 0 0 5px;float:right;}
.add-your-wishlist a {color:#fff !important; float:left;}

.gplus-button {float:left;margin: 8px 0 0 15px !important;}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 30px;
}

.carousel .container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.carousel-control {
  background-color: transparent;
  border: 0;
  font-size: 120px;
  margin-top: 0;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel .item {
  height: 550px;
}
.carousel img {
  min-width: 100%;
  height: 550px;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin-bottom: 100px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .span4 {
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .span4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
  color: #1b96dd;
}

.how-to li, .elves li {margin-bottom: 8px;}

/* Wish Lists
------------------------- */

.gift-box {
  float:left;
  margin: 5px;
  padding:8px;
  background:#ebebeb;
  width:209px;
  color: #444;
  -moz-box-shadow: 0 0 5px #042e6e;
  -webkit-box-shadow: 0 0 5px#042e6e;
  box-shadow: 0 0 5px #042e6e;
}

.gift-box a:hover { color:#333;}

.gift-box-header {
  margin: -8px -8px 8px -8px;
  background: #257cb7;
  padding: 3px;
}

.gift-box-header a, .gift-box-header a:hover {
  color: #fff;
  font-size: 12px;
}

.profilepic {
 margin: 0 5px 0 0;
}

.thoughts {
  font-size: 12px;
}

.user {
  font-weight: bold;
  font-size: 12px;
}

.number { display: none;}

#wish_list_container {margin: 0 auto;}
.sort-nav {margin: 0 0 0 -20px;}

footer a:hover { color: #fff !important;}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {

  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }

  .navbar-inner .container { padding: 15px 15px 0 10px;}

  .navbar-inner {
    border-radius: 0;
    margin: -20px 0;
  }

  .add-your-wishlist {margin: 5px 0 0 5px; float:left;}
  .add-your-wishlist a {margin: 0 0 0 15px;}

  .carousel .item {
    height: 500px;
  }
  .carousel img {
    width: auto;
    height: 500px;
  }

  .featurette {
    height: auto;
    padding: 0;
  }
  .featurette-image.pull-left,
  .featurette-image.pull-right {
    display: block;
    float: none;
    max-width: 40%;
    margin: 0 auto 20px;
  }
}


@media (max-width: 767px) {

  .navbar-inner {
    margin: -20px;
  }

  .carousel {
    margin-left: -20px;
    margin-right: -20px;
  }
  .carousel .container {

  }
  .carousel .item {
    height: 300px;
  }
  .carousel img {
    height: 300px;
  }
  .carousel-caption {
    width: 65%;
    padding: 0 70px;
    margin-bottom: 40px;
  }
  .carousel-caption h1 {
    font-size: 30px;
  }
  .carousel-caption .lead,
  .carousel-caption .btn {
    font-size: 18px;
  }

  .marketing .span4 + .span4 {
    margin-top: 40px;
  }

  .featurette-heading {
    font-size: 30px;
  }
  .featurette .lead {
    font-size: 18px;
    line-height: 1.5;
  }

}

@media (min-width: 1280px) {
  #wish_list_container {margin: 0 115px;}
  .sort-nav {margin: 0 95px;}
}